.material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 200,
        "GRAD" 0,
        "opsz" 48;
    margin: 0 3px;
    /* font-size: large; */
    user-select: none;
    pointer-events: none;
}

.table-responsive select,
.table-responsive .select2,
.table-responsive .note-editor,
.table-responsive input {
    pointer-events: all;
}

button.middle-align,
a.middle-align {
    display: flex;
    align-items: center;
    width: fit-content;
}



/* summernote style */
.note-toolbar {
    background: #182957 !important;
    padding: 8px !important;
}

input.form-control.date:read-only,
input.form-control.datetime:read-only {
    background-color: #fff;
}

input[name="btSelectAll"] {
    display: none;
}

input.as-title,
input.as-title:disabled,
input.as-title[readonly] {
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: black;
}

/* TAB CLASS */

.nav-pills .nav-link,
.nav-pills .show > .nav-link {
    border: 0.2px solid #daedf5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #29a7de;
}

a:hover {
    color: #00306a;
}

.section-tab {
    margin-top: 1rem;
}

/*  */

.content-header {
    color: #2b71c6;
}

th {
    white-space: nowrap;
}

/*  */

.app-sidebar .logo {
    background-color: #29a7de;
}

.app-sidebar .sidebar-content {
    background: rgb(1, 51, 108, 0.8);
    /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(to bottom, rgb(41 167 222), rgb(0 67 121 / 74%)),
        url(/resources/img/sidebar-bg/07.jpg);
    background: linear-gradient(to bottom, rgb(41 167 222), rgb(0 67 121 / 74%)), url(/resources/img/sidebar-bg/07.jpg);
    /* The least supported option. */
    background-repeat: none;
    background-size: cover;
}

.app-sidebar.redoverlay .logo {
    background-color: rgb(1, 51, 108, 0.8);
}

.notification-unseen {
    background: #2aabe230;
}

.notification-unseen:hover {
    background: #00b3ff90;
}



.section-tab a.nav-link.completed:not(.active) {
    background-color: #1ec7ab;
    color: #ffffff;
}

.section-tab a.nav-link.ongoing:not(.active) {
    background-color: #cfe923;
    color: #ffffff;
}

/*  */

input.invalid,
textbox.invalid,
select.invalid {
    border-color: #ff7376;
}

.bg-breadcrumb {
    background-image: linear-gradient(to right, #00306a, #2aace3);
    color: #fff;
    border-radius: 10px;
    min-height: 90px;
    position: relative;
}

.bg-breadcrumb .illust {
    position: absolute;
    top: -20px;
    right: 10px;
}

.content-header {
    color: #fff;
}

.text-muted {
    color: #fff !important;
}

.btn-info,
.btn-warning,
.btn-secondary {
    background-color: #182957;
    border-color: #182957;
    /* border-radius: 20px; */
}

.dropdown .dropdown-menu .dropdown-item:active,
.dropup .dropdown-menu .dropdown-item:active,
.dropright .dropdown-menu .dropdown-item:active,
.dropleft .dropdown-menu .dropdown-item:active {
    background-color: #aadeff !important;
}

.btn-info:hover,
.btn-warning:hover,
.btn-danger:hover,
.btn-secondary:hover {
    color: #fff;
    background-color: #2aace3;
    border-color: #2f8be6;
}

.btn-danger {
    background-color: #ff7376;
    border-color: #ff7376;
    /* border-radius: 20px; */
}

.btn-primary,
.btn-success {
    color: #fff;
    background-color: #009ea9;
    border-color: #009ea9;
    /* border-radius: 20px; */
}

.btn-primary:hover,
.btn-success:hover {
    color: #fff;
    background-color: #00d9d0;
    border-color: #00d9d0;
}

/* .btn-secondary {
          background-color: #EC9929;
          border-color: #EC9929;
          border-radius: 20px;
        } */

/* .btn-success {
          background-color: #56E9AE;
          border-color: #56E9AE;
          border-radius: 20px;
        } */

.bootstrap-table {
    margin-top: -40px;
}

.wika-blue {
    background-color: #2aace3;
    color: white;
}

a {
    color: #2aace3;
    background-color: transparent;
}

.bootstrap-table li.page-number.active {
    background-color: #2aace3;
    color: white;
}

.bootstrap-table li.page-number.active a {
    color: white;
}

.modal-judul {
    font-family: Montserrat, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.content-wrapper {
    padding: 35px 30px;
}

/* OVERWRITE STYLES */

.form-group {
    margin-bottom: 1rem;
}

.citadel-menu-item a,
.sidebar-header a {
    text-decoration: none;
}

.card .card-header {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    background-color: initial;
}

.card .card {
    margin: 0;
}

.card {
    /* margin: 15px 0; */
    box-shadow: -8px 8px 14px 0 rgba(25, 42, 70, 0.11);
    border: none;
    /* min-height: 130px; */
}
.card[class*="gradient-"] .card-header,
.card[class*="gradient-"] .card-footer {
    background-color: initial;
}

.card .card-subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
}
.card .card-bordered {
    border: 1px solid rgba(0, 0, 0, 0.06);
}
.card.card-transparent {
    background-color: transparent !important;
}
.card .card {
    box-shadow: none;
}
.card .card-img {
    position: relative;
}
.card .card-img .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 24px;
}
.card .card-img.overlap {
    margin-top: -30px;
}
.card .btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #975aff;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    vertical-align: middle;
    font-size: 1rem;
    box-shadow:
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.card .btn-floating.btn {
    margin: 0;
}
.card .btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    line-height: 40px;
}
.card .btn-floating.btn-large {
    width: 56px;
    height: 56px;
}
.card .btn-floating.btn-large.halfway-fab {
    bottom: -28px;
}
.card .btn-floating.btn-large i {
    line-height: 56px;
}
.card .btn-floating.halfway-fab {
    position: absolute;
    right: 24px;
    bottom: -20px;
}
.card .card-reveal {
    padding: 24px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 3;
    transition: height 1s ease-in-out;
    display: none;
}
.card .card-reveal .card-title {
    cursor: pointer;
}
.card .card-title {
    letter-spacing: 0.03rem;
    margin-bottom: 0.25rem;
    color: #005db5;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
}
.card .card-footer {
    padding: 1rem 1.5rem;
    background: transparent;
    overflow: hidden;
}
.card.card-inverse .card-blockquote .blockquote-footer,
.card.card-inverse .card-link,
.card.card-inverse .card-subtitle,
.card.card-inverse .card-text,
.card.card-inverse .card-title,
.card.card-inverse .card-footer,
.card.card-inverse a,
.card.card-inverse a:hover,
.card.card-inverse label,
.card.card-inverse span,
.card.card-inverse .form-group:hover,
.card.card-inverse div,
.card.card-inverse input {
    color: #fff;
}
.card.card-inverse .form-group.is-focused .checkbox label,
.card.card-inverse .form-group.is-focused label.checkbox-inline,
.card.card-inverse .form-group.is-focused .radio label,
.card.card-inverse .form-group.is-focused label.radio-inline {
    color: #fff;
}
.card.card-inverse hr {
    border-color: #fff;
}
.card.card-inverse .checkbox label {
    color: #fff;
}
.card.card-inverse .checkbox label .checkbox-decorator .check {
    border-color: rgba(255, 255, 255, 0.54);
}
.card.card-inverse input::-webkit-input-placeholder,
.card.card-inverse input::-moz-placeholder,
.card.card-inverse input:-ms-input-placeholder,
.card.card-inverse input:-moz-placeholder {
    color: #fff;
}

.btn-info {
    color: white;
}

a {
    text-decoration: none;
}

/* Grid Styles */

.grid {
    display: grid;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
}
.grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
}
.grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
}
.grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}
.grid-cols-none {
    grid-template-columns: none;
}
.grid-cols-subgrid {
    grid-template-columns: subgrid;
}

.gap-0 {
    gap: 0px;
}
.gap-x-0 {
    column-gap: 0px;
}
.gap-y-0 {
    row-gap: 0px;
}
.gap-px {
    gap: 1px;
}
.gap-x-px {
    column-gap: 1px;
}
.gap-y-px {
    row-gap: 1px;
}
.gap-0\.5 {
    gap: 0.125rem;
}
.gap-x-0\.5 {
    column-gap: 0.125rem;
}
.gap-y-0\.5 {
    row-gap: 0.125rem;
}
.gap-1 {
    gap: 0.25rem;
}
.gap-x-1 {
    column-gap: 0.25rem;
}
.gap-y-1 {
    row-gap: 0.25rem;
}
.gap-1\.5 {
    gap: 0.375rem;
}
.gap-x-1\.5 {
    column-gap: 0.375rem;
}
.gap-y-1\.5 {
    row-gap: 0.375rem;
}
.gap-2 {
    gap: 0.5rem;
}
.gap-x-2 {
    column-gap: 0.5rem;
}
.gap-y-2 {
    row-gap: 0.5rem;
}
.gap-2\.5 {
    gap: 0.625rem;
}
.gap-x-2\.5 {
    column-gap: 0.625rem;
}
.gap-y-2\.5 {
    row-gap: 0.625rem;
}
.gap-3 {
    gap: 0.75rem;
}
.gap-x-3 {
    column-gap: 0.75rem;
}
.gap-y-3 {
    row-gap: 0.75rem;
}
.gap-3\.5 {
    gap: 0.875rem;
}
.gap-x-3\.5 {
    column-gap: 0.875rem;
}
.gap-y-3\.5 {
    row-gap: 0.875rem;
}
.gap-4 {
    gap: 1rem;
}
.gap-x-4 {
    column-gap: 1rem;
}
.gap-y-4 {
    row-gap: 1rem;
}
.gap-5 {
    gap: 1.25rem;
}
.gap-x-5 {
    column-gap: 1.25rem;
}
.gap-y-5 {
    row-gap: 1.25rem;
}
.gap-6 {
    gap: 1.5rem;
}
.gap-x-6 {
    column-gap: 1.5rem;
}
.gap-y-6 {
    row-gap: 1.5rem;
}
.gap-7 {
    gap: 1.75rem;
}
.gap-x-7 {
    column-gap: 1.75rem;
}
.gap-y-7 {
    row-gap: 1.75rem;
}
.gap-8 {
    gap: 2rem;
}
.gap-x-8 {
    column-gap: 2rem;
}
.gap-y-8 {
    row-gap: 2rem;
}
.gap-9 {
    gap: 2.25rem;
}
.gap-x-9 {
    column-gap: 2.25rem;
}
.gap-y-9 {
    row-gap: 2.25rem;
}
.gap-10 {
    gap: 2.5rem;
}
.gap-x-10 {
    column-gap: 2.5rem;
}
.gap-y-10 {
    row-gap: 2.5rem;
}

.col-span-1 {
    grid-column: span 1 / span 1;
}
.col-span-2 {
    grid-column: span 2 / span 2;
}
.col-span-3 {
    grid-column: span 3 / span 3;
}
.col-span-4 {
    grid-column: span 4 / span 4;
}
.col-span-5 {
    grid-column: span 5 / span 5;
}
.col-span-6 {
    grid-column: span 6 / span 6;
}
.col-span-7 {
    grid-column: span 7 / span 7;
}
.col-span-8 {
    grid-column: span 8 / span 8;
}
.col-span-9 {
    grid-column: span 9 / span 9;
}
.col-span-10 {
    grid-column: span 10 / span 10;
}
.col-span-11 {
    grid-column: span 11 / span 11;
}
.col-span-12 {
    grid-column: span 12 / span 12;
}
.col-span-full {
    grid-column: 1 / -1;
}

/* FLYOUT */

.flyout-container {
    position: fixed;
    top: calc(var(--index) * 40px + (30vh)); /* Calculate based on index */
    right: 0;
    z-index: 100;
    & .card {
        box-shadow: none;
        margin: 0;
    }
    & .offcanvas-header {
        border-bottom: 1px solid rgb(227, 227, 227);
    }
}

/* MODAL */
.modal .modal-body {
    padding: 0;
}
.modal .card {
    box-shadow: none;
    margin: 0;
}

/* CITADEL TABLE */

table.citadel-table thead th {
    background: #e9eff7 !important;
    color: #1b1b1b !important;
}

/* overlay default*/
.loading-overlay {
    /* position: relative; */
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: grid;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* SELECT2  comment cause conflict with node module*/ 
/* .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #fff !important;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000000;
    background-color: unset !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #ababab !important;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered,
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0;
}

.select2-container--default .select2-selection--single {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    right: 0.75rem;
    top: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.5;
    color: #212529;
    padding-left: 0;
    padding-right: 1.5rem;
    margin-top: 0;
}

.select2-container--default.select2-container--focus .select2-selection--single {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

@media (max-width: 576px) {
    .select2-container--default .select2-selection--single {
        font-size: 0.9rem;
        padding: 0.3rem 0.65rem;
    }
} */


input[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

select[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

textarea[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}
